extends ./layout

block center-title
  | ⏰ 第六天：时钟


block content
  video#player(playsinline controls poster="https://images.pexels.com/photos/201101/pexels-photo-201101.jpeg?auto=compress&cs=tinysrgb&h=750")
    source(src="https://cdn.nodelover.me/ps/6.mp4")
