extends ./layout

block center-title
  | ⏰ 第七天：风化文字


block content
  video#player(playsinline controls poster="https://images.pexels.com/photos/91228/pexels-photo-91228.jpeg?auto=compress&cs=tinysrgb&h=750")
    source(src="https://cdn.nodelover.me/ps/7.mp4")
